<h1>Welcome</h1>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<div>
  <% image_tag "/images/e78cb811bc9c4b95f7ca7031de17b0df.jpg", alt: "whatever" %>
</div>

<div class="logo"></div>
